{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>
<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>T R Deeksha</h3>
                <p class="lead" style="font-weight: 350;">Hi, I'm Deeksha. I'm pursuing a B.Tech in Computer 
                    Science & Engineering, focusing on Web Development, Java, and Cloud Technologies. 
                    I’m also interested in Machine Learning and eager to learn and innovate. 🚀</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:trdeeksha03@gmail.com'><img
                        src="https://cdn-icons-png.flaticon.com/128/732/732200.png" height="40" width="40"></a> :
                trdeeksha03@gmail.com<br><br>
                <a target="_blank" href='https://github.com/DEEKSHATR'><img
                        src="https://cdn-icons-png.flaticon.com/128/2111/2111425.png" height="40" width="40"></a> :
                DEEKSHATR<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/deeksha-t-r-1b8732230/'><img
                        src="https://cdn-icons-png.flaticon.com/128/4494/4494497.png" height="40" width="40"></a> :
                deeksha-t-r-1b8732230<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>J Harshith Sai</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am J Harshith Sai. I'm pursuing a B.Tech in Computer 
                    Science & Engineering, focusing on Web Development, Java, and Cloud Technologies. 
                    I’m also interested in Machine Learning and eager to learn and innovate.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:krishna.baldaniya93@gmail.com'><img
                        src="https://cdn-icons-png.flaticon.com/128/732/732200.png" height="40" width="40"></a> :
                javinepallir@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/krishna.baldaniya/'><img
                        src="https://cdn-icons-png.flaticon.com/128/3955/3955024.png" height="44" width="44"></a> :
                Harshith Sai J<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/krishna-baldaniya-5547381a1/'><img
                        src="https://cdn-icons-png.flaticon.com/128/4494/4494497.png" height="40" width="40"></a> :
                J Harshith_Sai<br>
            </div>
        </div>
    </div>
</div>
<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>P Harshavardhan</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am P Harshavardhan. I'm pursuing a B.Tech in Computer 
                    Science & Engineering, focusing on Web Development, Java, and Cloud Technologies. 
                    I’m also interested in Machine Learning and eager to learn and innovate. 🚀</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:trdeeksha03@gmail.com'><img
                        src="https://cdn-icons-png.flaticon.com/128/732/732200.png" height="40" width="40"></a> :
                harshaharsha2625@gmail.com<br><br>
                <a target="_blank" href='https://github.com/DEEKSHATR'><img
                        src="https://cdn-icons-png.flaticon.com/128/2111/2111425.png" height="40" width="40"></a> :
                Harshavardhan P<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/deeksha-t-r-1b8732230/'><img
                        src="https://cdn-icons-png.flaticon.com/128/4494/4494497.png" height="40" width="40"></a> :
                P Harshavardhan<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Y Chandana</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Y Chandana. I'm pursuing a B.Tech in Computer 
                    Science & Engineering, focusing on Web Development, Java, and Cloud Technologies. 
                    I’m also interested in Machine Learning and eager to learn and innovate.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:krishna.baldaniya93@gmail.com'><img
                        src="https://cdn-icons-png.flaticon.com/128/732/732200.png" height="40" width="40"></a> :
                chandana2004@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/krishna.baldaniya/'><img
                        src="https://cdn-icons-png.flaticon.com/128/3955/3955024.png" height="44" width="44"></a> :
                Y CHandana<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/krishna-baldaniya-5547381a1/'><img
                        src="https://cdn-icons-png.flaticon.com/128/4494/4494497.png" height="40" width="40"></a> :
                Chandana_Y<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}